doctype html
html(lang="ru")
  include component/includes/head
  body
    include component/includes/header    
    h1 Neworday - слово дня с описанием
    h2 Нонконкордантность
    p Описание
    h3 Релевантность
    p Степень соответствия чего-либо желаемого чему-то.
    h3 Фрустрация
    p Описание
    h3 Нарратив
    p “Объясняющий рассказ”, или повествование, где представлено множество взаимосвязанных событий в виде последовательности слов или образов.
    include component/includes/foot
