.footer,
.header {
  display: flex;
  justify-content: flex-end;
  margin: 2.4rem;

  &__info {
    display: flex;
    flex-wrap: nowrap;
    vertical-align: middle;
    font-size: 0.8rem;
    color: $gray;
  }
}

.header {
  &__text {
    height: 32px;
    margin: auto 0.7rem;
    padding-top: 0.1rem;
    line-height: 30px;
  }
}

.footer {
  &__link {
    height: 32px;
    margin: auto 0.7rem;
    line-height: 30px;

    &-logo {
      vertical-align: middle;
      padding-right: 0.2rem;
    }
  }
}