@import "~normalize.css/normalize";
@import "fonts";
@import "variables";
@import "block";

html {
  font-size: 18px;
}

body {
  background: #f4fffb;
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
}

button {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.btn {
  color: $gray;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  border: solid 1px transparent;
  outline: none;
  cursor: pointer;

  &:active {
    transform: translateY(2px);
    filter: saturate(150%);
  }

  &:focus,
  &:hover {
    // box-shadow: 0 0 0 3px rgba(255, 105, 180, 0.5), 0 0 0 1.5px rgba(255, 105, 180, 0.5);
  }
}